<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div style="width: 80%; margin: 0 auto; margin-top: 50px;">
  <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li>
      <img src="assets/logo-header.png" alt="logo">
    </li>
    <li [ngbNavItem]="1">
      <a ngbNavLink>공지사항</a>
      <ng-template ngbNavContent>
        <app-first></app-first>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <a ngbNavLink>카라이프</a>
      <ng-template ngbNavContent>
        <app-second></app-second>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <a ngbNavLink>신차장 다이렉트</a>
      <ng-template ngbNavContent>
          <app-third></app-third>
      </ng-template>
    </li>
  </ul>
  <br>

  <div [ngbNavOutlet]="nav" class="mt-2"></div>

</div>


  <!--
      <router-outlet></router-outlet>
      <pre>Active: {{ active }}</pre>
  -->
  
